.ant-menu-item-selected {
  background-color: #272735 !important; /* Change background color */
  color: #fff !important; /* Change text color */
}

.ant-menu-item-selected .ant-menu-item-icon {
  color: #fff !important; /* Change icon color */
}
/* Add this to your global CSS file */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For more selective approach, you could also add this to specific components instead */
